@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,400&family=Orbitron&family=Playfair+Display:ital,wght@1,800&family=Roboto:ital,wght@0,300;1,100;1,900&display=swap');

html {
    --s: 82px; /* control the size */
    --c1: #353535;
    --c2: #000000;
    --c3: #8b8b8b;
    
    --_g: var(--c3) 0 120deg,#0000 0;
    background:
      conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
      conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
      conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
      conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
      linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                            var(--c1) 0 calc(500%/6),var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
  }
  
  main {
    display: flex;
    justify-content: center;
    
  }

  .wrapper {
    
    margin-top: 5vh;
    min-width: 80vw;
    min-height: 85vh;
    max-width: 90vw;
    max-height: 85vh;
    background: #353535;
    padding: 0rem;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr 9fr;
  }

  .header {
    background: #c5c4c4;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "EB Garamond";
    font-size: 3rem;
    font-weight: 900;
    
  }


  #add-button {
    background: none;
    border: none;
    cursor: pointer;
 
    cursor: pointer;
  }

  #add-button:hover {
    filter: brightness(1.3)
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 50%;
    width: 30%;
    min-height: 400px;
    min-width: 400px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 5fr;
    border-radius: 10px;
    background: #c5c4c4;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.438));
    transition: ease-in-out 300ms;
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-headline {
    display: flex;
    padding: 5px;
    justify-content: space-between;
     
    background: rgb(130,19,34);
  }

  .modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "EB Garamond";
    font-size: 1.5rem;
    font-weight: 900;
  }

  .modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .modal-close > button {
    font-family: "EB Garamond";
    font-size: 2rem;
    font-weight: 900;
    border: none;
    background: none;
    cursor: pointer;
  }

  .modal-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .modal-form-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    font-family: "EB Garamond";
    font-size: 1.15rem;
    font-weight: 200;
  }

  .modal-form > button {
    width: 20%;
    height: 10%;
    font-family: "EB Garamond";
    font-size: 1.15rem;
    font-weight: 800;
    border: none;
    border-radius: 5px;
  }

  .books {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow: scroll;
  
  }

  .books::-webkit-scrollbar{
    display: none;
  }

  .card {
    max-height: 30%;
    max-width: 31%;
    min-height: 60px;
    min-width: 60px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    background: #c5c4c4;
    padding: 5px;
    gap: 5px;
    font-family: "EB Garamond";
    font-size: 1.15rem;
    font-weight: 800;
    justify-content: center;
    /* align-items: center; */
    padding: 1rem;
    /* border-right: 6px solid rgb(43, 39, 40); */
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.438));
  }

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px
}

  .card > button {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 50%;
    /* height: 1.5rem; */
    cursor: pointer;
    font-family: "EB Garamond";
    font-size: 1.15rem;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    margin: 2px;
  }